RACK (and QUIC)

Markku Kojo said,
> The draft states that RACK (and QUIC loss detection) can be used
  with CUBIC to detect losses. However, it seems to have gone
  unnoticed that RACK may also detect loss of a retransmission in
  which case the congestion control response is required to be taken
  twice, i.e., ssthresh and cwnd must be lowered again (MUST in
  RFC 5681 Sec. 4.3). Once RACK got published all new congestion
  controls and updates to existing RFCs must include this essential
  congestion control response, if the congestion control mechanism
  intends to use RACK for loss detection.
>
>  This draft does not have any such requirement nor does it specify
  how this is done?

RACK detects a loss whether retransmission or not, and [§3.4 of RACK [RFC8985]](https://datatracker.ietf.org/doc/html/rfc8985#section-3.4) says:
>   Note that [RFC5681] mandates a
>   principle that loss in two successive windows of data or the loss of
>   a retransmission must be taken as two indications of congestion and
>   therefore results in two separate congestion control reactions.

So there surely it's not right to say "all new congestion controls and updates to existing RFCs must include this essential congestion control response." A congestion control that uses RACK surely doesn't need to say anything special about lost retransmission, because just referring to the RACK RFC will be enough.

If I'm right, I suggest this issue is just closed with no action.

@markkukojo are you OK with the resolution @bbriscoe proposes?

In addition to what Bob said, a packet loss whether of original packet or of a retransmission - both are considered loss. And as Bob said just mentioning RACK as a method to detect loss should be enough,
> After a window reduction in response to a congestion event detected by duplicate ACKs, Explicit Congestion Notification-Echo (ECN-Echo, ECE) ACKs {{!RFC3168}}, TCP RACK {{!RFC8985}} or QUIC loss detection {{!RFC9002}}

@markkukojo can you check the above comments and let us know if there is still some unresolved?

Thanks for reminding and apologies for replying so slowly.

Unfortunately Bob is very wrong here, or he just misunderstood my comment.

RACK is a pure *loss detection* algorithm and RFC 8985 states it explicitly. So, it does not and cannot provide any congestion control response, i.e., it does not provide any algorithm nor actions to take when a loss of retransmission is detected. Therefore, RFC 8985 just reminds that when RACK is used for loss detection the congestion control response in use MUST follow this essential principle of reacting twice. For example, RFC 8985 does not say how CUBIC should select the new value of W_max, when a loss of rexmit is detected, so referring to RFC 8985 cannot be enough. 

When RACK was published, it introduced a way to detect a loss of a rexmit that is something that never existed in the RFC series before and hence no congestion control response in the RFC series is prepared to handle it. In other words, we do not have any RFC that advises an implementer how to do it correctly. Moreover, RFC 6675 machinery simply does not work if a loss of rexmit is detected. And, it is not a trivial "just reduce twice" modification but the whole machinery needs to be carefully rethought. Therefore, RFC 8985 explicitly prohibits using RACK with RFC 6675 (MUST NOT). Consequently, a possible update to RFC 6675 needs to include the response to a lost rexmit, if it intends to allow the use of RACK with it. Correspondingly, any new congestion control response algorithm must include correct actions to implement this "reduce twice" correctly in all scenarios so that any implementer has no problem in implementing it correctly. Otherwise, it must say that RACK MUST NOT be used with it.

Hope this clarifies the issue.


@markkukojo What Bob and I are trying to say here is that CUBIC provides guidance to packet losses - whether it is for original data packet or retransmission - CUBIC will reduce congestion window in the same way for both events. We are using RACK to detect packet losses and then providing guidance what to do after that.
Please see Section 4.6, 
> When a congestion event is detected by mechanisms described in Section 3.1, CUBIC updates Wmax and reduces cwnd and ssthresh immediately ..


> And, it is not a trivial "just reduce twice" modification but the whole machinery needs to be carefully rethought. 
Why do you think it is not as simple as reduce twice? For a network, packet is some bytes traveling through it - there is no difference in original data packet vs retransmission when it drops a packet. I am not getting why you think loss of a retransmissions should have a different response as compared to original data packet.



@markkukojo thanks for the context. Could we scope this back to 8312bis and decide whether concrete changes are needed or not? 

@markkukojo do you agree with closing? If not, what **concrete** text changes would you like to propose?

+1 for Vidhi. It seems to me that we will need recovery algorithm for RACK with TCP which is outside of this draft. 