Use FlightSize instead of cwnd

@markkukojo said,
> More importantly. The draft says in Sec. 4.2:
"It does not make any changes to the TCP Fast Recovery and Fast
Retransmit algorithms [RFC6582][RFC6675]."

But it does modify RFC6582, RFC 6675, and RFC 5681 Fast Retransmit&Fast Recovery by applying beta_cubic to cwnd, not FlightSize. This is incorrect and would bring back an old design&implementation bug that was corrected more than two decades ago when RFC 2581 was published (and subsequently corrected also for RFC 6582 and RFC 6675). Please see the implementation note attached to Equation (4) of RFC 5681: "An easy mistake to make is to simply use cwnd, rather than FlightSize, which in some implementations may incidentally increase well beyond rwnd."

Using cwnd in the equation will also result in incorrect outcome in some other cases as well, for example, if the sender is application limited.

Applying beta_cubic to cwnd describes correctly what Linux TCP CUBIC does, and IIRC what Windows TCP CUBIC does as well (from discussions with the MS TCP team). The Linux and Windows CUBIC behavior is very much intentional, since reducing cwnd based on FlightSize is not robust; it causes very poor performance in the very common application-limited case.

I would suggest keeping the  text here as-is (cwnd = cwnd * beta_cubic), since this reflects the long-deployed behavior, and the more robust of the two options.



@nealcardwell thanks Neal and I agree with you.

@markkukojo do you agree with Neal's comment?

If you leave the formula as it is, you'll need to change the claim: "It does not make any changes to the TCP Fast Recovery and Fast Retransmit algorithms [RFC6582][RFC6675]." to more descriptive of Cubic behaviour, right?

In my understanding, Equation (4) of RFC 5681 is meant for the cases where rto expire. But, it seems to me these cases don't need to be covered in cubic draft. Or, am I missing something?

Equation (4) of RFC 5681 is meant for RTO cases, but it is also meant for Fast Recovery. See section 3.2, "Fast Retransmit/Fast Recovery":
  https://datatracker.ietf.org/doc/html/rfc5681#section-3.2
which says:
      When the third duplicate ACK is received, a TCP MUST set ssthresh
       to no more than the value given in equation (4)


I'll reply to all comments in this.

Yoshi: 
Equation (4) in RFC 5681 is used both when RTO expires and when 3rd DupAck arrives: see Sec 3.2, Step 2. 
Equation (4) is represented only once in RFC 5681 and together with RTO just because of representational reasons as Slow Start & RTO are discussed first in Sec 3.1 and discussion on Fast Rxmit & Fast Recovery follows later in Sec 3.2. 

This is also consistent with NewReno and SACK-based Fast Rexmit&Fast Recovery, see RFC 6582, Sec 3.2, Step 2 that points to step 2 of Section 3.2 of RFC 5681 and 
RFC 6675, Sec 5, Step 4.2. Please see more in my reply to Neal below. 

Juha-Matti: you are right, but it is more than that. Please see my reply to Neal below.

Neal, all:
The use of FlightSize is intentional and consistently used in all current Stds Track RFC mentioned above. It is based on the IETF consensus for more than two decades and intended to prevent a TCP sender from not responding to congestion at all when the TCP sender is rwnd limited (or application limited) and it has increased its cwnd to a (very) high value beyond actual flight size. AFAIK, this is one of the major reasons why FlightSize was introduced in RFC 2581 and later adopted in all above mentioned RFCs.  It protects the network from (re)transmission of uncontrolled data in various scenarios.

This said, admittedly the use of FlightSize has its shortcomings because in some scenarios it may result in a very small cwnd after a congestion signal. I believe that's what Neal refers to by saying it is not robust? In addition, FlightSize does not provide any protection in cases where an application-limited or rwnd-limited TCP sender stops being limited and ends up transmitting at (notably) higher rate. 

However, if we leave the text as is, it results in bringing back the decades old problem because there are no safeguards. In addition, it would result in this draft text being in conflict with the current Standards Track RFCs. Such conflicting information clearly is not ideal as it would create inconsistency and confusion in the RFC series. 

So, what would be the best way forward? These problems with application or rwnd limited TCP senders are not specific to CUBIC but the same regardless of which congestion control mechanism we are using. We need an update to the existing RFCs at some point as well. Therefore, I think a proper way to solve the problems is to solve them for all involved RFCs at once in a consistent way. We have RFC 7661 as experimental. Aren't the algos there appropriate enough to all known application-limited scenarios (assuming the equations are adjusted to apply to CUBIC as well)?



Thank you for the discussions on this important issue! I agree that we need to change ""It does not make any changes to the TCP Fast Recovery and Fast Retransmit algorithms [RFC6582][RFC6675]", which is not correct/accurate.

Based on the comments of @markkukojo, it seems that it is safer to update ssthresh using FlightSize. 

In addition to how ssthresh is calculated, a related issue is that currently Cubic cwnd is not updated according to the fast retransmit/recovery in RFC 5681/6582.  For example, [Step 6 in Serction 3.2 of RFC 5681:](https://datatracker.ietf.org/doc/html/rfc5681#section-3.2) "When the next ACK arrives that acknowledges previously unacknowledged data, a TCP MUST set cwnd to ssthresh (the value set in step 2)". However, currently Linux Cubic sets cwnd to ssthresh at the beginning of fast recovery instead of the end of fast recovery. @nealcardwell, right? thanks 



Linux TCP CUBIC follows PRR and sets cwnd to ssthresh at the end of fast recovery (see tcp_end_cwnd_reduction() where it sets cwnd=ssthresh).

FWIW it sounds good to me to have rfc8312bis document setting   ssthresh using FlightSize, given that this issue is mostly orthogonal to CUBIC (both Reno and CUBIC have the same question about setting ssthresh using FlightSize vs cwnd).


FWIW, the current editor's copy already updates 5681: https://tools.ietf.org/rfcdiff?url1=https://tools.ietf.org/id/draft-ietf-tcpm-rfc8312bis.txt&url2=https://NTAP.github.io/rfc8312bis/draft-ietf-tcpm-rfc8312bis.txt

So if we need to add other reasons for doing so, that is not an issue.

Personally I think the Reno and CUBIC RFCs  should use:
   ssthresh = beta * cwnd
(This is what Linux TCP has done since 2013).

Or if the receiver window case mentioned by @markkukojo is a big concern, then perhaps something like:
   ssthresh = beta * min(cwnd, rwnd)

But I don't think we need to hold up rfc8312bis if this is a controversial point, since it is somewhat orthogonal to CUBIC.






Thanks, @nealcardwell . You are right that Linux Cubic sets cwnds to ssthresh at the end of fast recovery. 

Because Reno(RFC5681)/NewReno(RFC6582)/Sack(RFC6675) all set ssthresh using FlightSize, and because Cubic does not intend to modify the fast retransmit and fast recovery algorithms of Reno/NewReno/Sack except the multiplicative decrease parameter, it would be better/consistent for this rfc8312bis to set ssthresh using FlightSize. 

We may describe what is implemented in Linux/Window and why ("since reducing cwnd based on FlightSize is not robust; it causes very poor performance in the very common application-limited case").



Sounds good to me. Thanks!


I completely disagree the compromise to use FlightSize.

Using FlightSize has the detrimental performance effect when losses are encountered in application-limited case, which is prevalent in today's structured Internet application traffic. Consider a simple case where the application bursts and a drop occurs toward the end of the burst. At that time FlightSize is likely very small. Cubic is reducing the window based on an underestimated amount of volume during the congestion.

Ever since Cubic was invented, it has been using cwnd. Shouldn't this RFC reflect the Internet-wide decades long running implementation w better algorithm?

Now on the "Implementation Note: An easy mistake to make is to simply use cwnd, rather than FlightSize, which in some implementations may incidentally increase well beyond rwnd." in RFC5681. First why is cwnd going beyond rwnd an issue when the effective window is the min of the two? second can someone come up an example to illustrate such incident b/c I can't tell.

I have indicated the same exact issue to Jana so I am glad RFC9002 QUIC does not repeat the mistake to use FlightSize
(https://www.rfc-editor.org/rfc/rfc9002.html#name-recovery). I really want to stress the point using FlightSize simply makes TCP spec worse and out-sync'd of modern TCP implementations. It's really a mistake.

@yuchungcheng thank you for chiming in. We have been going back and forth about using `cwnd` vs `flight size` for ssthresh and therefore cwnd (at the end of recovery). There are two alternatives from this discussion:
1. Continue to use `cwnd` and then update the text with,
`Cubic updates the fast retransmit and fast recovery algorithms of Reno/NewReno/Sack to use cwnd to do multiplicative decrease after a congestion event as described in Section 4.6. This has proven to be more robust and provides better throughput and link utilization as seen with most modern implementations that have been deployed globally.`
2. Change to using `flightsize` in Section 4.6 and add a caveat for lower throughput,
`Since reducing congestion window based on FlightSize is not robust and can cause low throughput in the very common application-limited scenarios, most modern implementations use cwnd instead for better link utilization.`

To keep it more conservative and aligned with previous stds track RFCs, I am fine with option 2. We need to converge on this soon to unblock CUBIC from this orthogonal problem.


Which option do the major stacks use? IMO that is what the spec should recommend. We can discuss the implications of that choice and mention the other alternative, too.

> Which option do the major stacks use? IMO that is what the spec should recommend. We can discuss the implications of that choice and mention the other alternative, too.

I don't know if this is the right question, I think for a stds RFC, a more important question is which option should the stacks use? Because the current implementations optimize for better throughput and that may or mayn't be the right recommendation. 

In my mind, a main reason for doing 8312 and now 812bis was to describe what the currently deployed CUBIC looks like, because the versions described in the papers and used in various simulators were really different.

I'd therefore really like to describe what variant of CUBIC is currently deployed - it seems to work well enough with few enough downsides, right? If that is the case, why would we want to recommend something else for the spec?

] Which option do the major stacks use? 

Linux TCP CUBIC calculates ssthresh based on cwnd. Not sure about the other major stacks.

I agree with Lars that it's far preferable to describe the CUBIC behavior that is currently deployed. Hopefully MS/Apple/Linux stacks agree on this point and we can have the RFC match that.

I support something like Vidhi's option number 1 above ("Continue to use cwnd and then update the text..." ).


+1 what Neal and Lars said and option 1. Adding Parveen from Microsoft to
help answer Lars' question on major Cubic implementation.


Vidhi: I agree that it is more important to publish an RFC based on what
"should" TCP do, not just what "are" TCP stack doing. But that's the exact
rationale we used to change Linux to use cwnd instead of inflight. What we
had observed with FlightSize is that loss usually happened toward the end
of the flight (fifo queuing). Let's say inflight at the beginning of a
round-trip is 100. The lost packet occurs at packet 90. the subsequent 3
DUPACKs by packet 91,92,93 trigger fast recovery. at this moment FlightSize
is down to 10 (number of unacked). Cubic will apply the beta and adjust
cwnd to 10*0.7 = 7.

As you can tell, using FlightSize makes cwnd highly dominated by the
location of the loss under application-limited scenario, not it's original
real flightsize that experienced the congestion.


On Fri, Oct 1, 2021 at 8:51 AM Neal Cardwell ***@***.***>
wrote:

> ] Which option do the major stacks use?
>
> Linux TCP CUBIC calculates ssthresh based on cwnd. Not sure about the
> other major stacks.
>
> I agree with Lars that it's far preferable to describe the CUBIC behavior
> that is currently deployed. Hopefully MS/Apple/Linux stacks agree on this
> point and we can have the RFC match that.
>
> I support something like Vidhi's option number 1 above ("Continue to use
> cwnd and then update the text..." ).
>
> —
> You are receiving this because you were mentioned.
> Reply to this email directly, view it on GitHub
> <https://github.com/NTAP/rfc8312bis/issues/114#issuecomment-932347797>,
> or unsubscribe
> <https://github.com/notifications/unsubscribe-auth/AM5EPYFGQJZXTF7N4VYQ2KTUEXKJ7ANCNFSM5EN3H3UA>
> .
> Triage notifications on the go with GitHub Mobile for iOS
> <https://apps.apple.com/app/apple-store/id1477376905?ct=notification-email&mt=8&pt=524675>
> or Android
> <https://play.google.com/store/apps/details?id=com.github.android&referrer=utm_campaign%3Dnotification-email%26utm_medium%3Demail%26utm_source%3Dgithub>.
>
>


Both Windows TCP and MsQuic apply beta_cubic to cwnd and not FlightSize. We have had intense internal debates on this but we are erring towards higher performance in app limited cases. We also had briefly default enabled restarting cwnd upon idle for datacenter connections but had to revert due to application regressions. 

Additionally, Windows TCP limits cwnd growth to not exceed the largest receive window advertised by the peer during connection lifetime. And MsQuic limits cwnd growth to not exceed 2*MaxFlightSize i.e. twice the maximum in flight during connection lifetime.

I too think Option 1 is better and add justification for deviation from prior standards track RFCs. 

Apple's stack implements RFC 7661 and applies beta_cubic to `Max(pipeACK, LossFlightSize)` which is option 2.

I am happy to recommend option 1 considering the widespread deployment of Linux on the servers but I am sure there are some folks who will object that. Hoping to hear from them soon.


I want to note that using FlightSize is good for persistent congestion (as we would be acting quickly to reduce sending rate based on congestion experienced on bytes in the network),
whereas,
Using CWND is good for transient congestion and drops unrelated to congestion, because we might recover without significantly reducing congestion window based on bytes in the network and instead continue to use a higher CWND knowing that the drop was not due to persistent congestion.

Vidhi: very interesting to hear Apple's approach which uses max(PipeAck,
LossFlightSize)

While it's not clear how exactly PipeACK is computed, I believe RFC7661 is
trying to mitigate the problem I raised. I would argue that Apple's
approach is much closer to option 1 than option 2. In my previous email's
toy example, pipeACK would actually be around 100 instead of 10 because
PipeACK is recording the maximum inflight in the most recent round-trip.
Would that be the case in Apple's implementation?

Neal and I have discussed this before. Our conclusion is the most precise
approach is to record the flightsize on a per data packet basis. So in my
toy case, the starting loss packet would have a flightsize of 90.
Congestion control should use this flight-size to reduce cwnd. But that has
a steep per-packet storage requirement.

I would propose to capture our discussions in the RFC of pros & cons, and
also reflect the fact that some implementations use max(PipeAck,
LossFlightSize), instead of the recommended cwnd. These insights and
examples would be valuable for future implementers, since congestion
control is often about trade-offs :-)


On Fri, Oct 1, 2021 at 4:25 PM Vidhi Goel ***@***.***> wrote:

> I want to note that using FlightSize is good for persistent congestion (as
> we would be acting quickly to reduce sending rate based on congestion
> experienced on bytes in the network),
> whereas,
> Using CWND is good for transient congestion and drops unrelated to
> congestion, because we might recover without significantly reducing
> congestion window based on bytes in the network and instead continue to use
> a higher CWND knowing that the drop was not due to persistent congestion.
>
> —
> You are receiving this because you were mentioned.
> Reply to this email directly, view it on GitHub
> <https://github.com/NTAP/rfc8312bis/issues/114#issuecomment-932631517>,
> or unsubscribe
> <https://github.com/notifications/unsubscribe-auth/AM5EPYBFDQKWNMT3D2BU7A3UEY7OFANCNFSM5EN3H3UA>
> .
> Triage notifications on the go with GitHub Mobile for iOS
> <https://apps.apple.com/app/apple-store/id1477376905?ct=notification-email&mt=8&pt=524675>
> or Android
> <https://play.google.com/store/apps/details?id=com.github.android&referrer=utm_campaign%3Dnotification-email%26utm_medium%3Demail%26utm_source%3Dgithub>.
>
>


> FreeBSD/NewReno uses cwin not flightsize. I have not looked at the other congestion control modules just newReno so Cubic or others may use something else. I do think that cwin is the right thing to use here. I can go look at the other modules if there is interest.. a quick look at cc_cubic shows it too uses cwin. So thats 2 out of 6 ;)

Thanks for the data point.

@stewrtrs  does this mean that FreeBSD/NewReno does not anymore have any safeguards preventing cwnd from increasing to an arbitrarily high value beyond rwnd or above actually used capacity (FlightSize)? 
AFAIK at least safeguards to not increase cwnd beyond rwnd were earlier implemented around the time when RFC 5681 was published. Note also that I pointed to RFC 2861 for the problem space description, not as solution (CWV as per RFC 2861). RFC 2861 is known to not perform well and RFC 7661 has obsoleted RFC 2861 providing a more appropriate method for application (rate) limited traffic.

Adding Markku's comment about relocating RFC 7661 when we do a PR for this.
https://github.com/NTAP/rfc8312bis/pull/122#discussion_r727487563


> IMHO saying that basing sshtresh on cwnd "easily results in behaviour where a rwnd or application-limited TCP sender does not react to congestion" overstates the issue. Basing ssthresh on cwnd still reacts to congestion; it's just that it will take longer for the cwnd to converge down to the available capacity of the path.

My bad to be inaccurate. It should have read:
 "easily results in behaviour where a rwnd or application-limited TCP sender does not react to 
  a congestion event or a significant number of consecutive congestion events"

Sure the cwnd will at some point converge down. Otherwise it would result in congestion collapse which is not the issue here. The issue is negative impact to other flows and being unfair.

If an application-limited sender is sending (or receiver receiving) at more or less constant rate for a long period of time (alone on the bottleneck), the cwnd may after a while be arbitrarily high, meaning that the sender does not react to congestion for a notably long period of time if new flows join (this is against one of the major cc principles saying "must react to congestion event immediately" that we just agreed on). Note that if we have a relatively stable path with tail-drop bottleneck, according to the packet conservation principle a sender sending at constant rate is not subject to regular losses because it does not seek for more capacity; other flows need to "push" a bit with good timing or enough variation in packet delivery is needed cause a drop. So, it may take much longer than some linear number of CA epochs per your log scale equations before such a sender encounters enough drops to get cwnd to level of its FlightSize.

> the cwnd may after a while be arbitrarily high
No this is a different bug.  Don't raise cwnd unless flight size has reached cwnd at least once sometime since the last cwnd increment, so that you know that the path can actually deliver a cwnd sized window.   Then a multiplicative cwnd reduction does the right thing, even if it happens while inflight is tiny.   The case that you mention is not a problem: not only are there no reductions, there are no increases either, which is correct: we have zero new information and the estimate of the network capacity remains constant (and larger than in use by the application).

I was prototyping this type of algorithm when 2581 came out: I dropped a whole pile of work in the dumpster and switched my focus to socket buffer autotuning and TCP instrumentation (web100/ESTATS-MIB).  I have to admit I stopped paying much attention to derivative RFCs.

BTW Linux does this correctly - I know nothing about other stacks.

I believe PipeACK is (nearly?) isomorphic to simply not raising cwnd when it isn't controlling the flight size.

As for decaying estimates: I have never been able to make sense of this idea.    It isn't the right model for the most common case, which is a bunch of low duty cycle on/off transactional applications sharing a fixed link.  Most of the time the old estimate is correct forever, however every so often transactions collide, and (assuming a paced restart and short queues) you get 50% or 66% loss.  My preference would be to make the collisions converge in one RTT, by reducing cwnd by the losses (or the pacing rate by losses/RTT).   This idea is present in PRR, but is not uniformly applied everywhere it could be.   I remain open minded about decaying estimates: I just have never seen an approach that seems right.

Although backwards compatibility with existing standards is admirable,  standards that include persistent pathological behaviors under straightforward conditions are unlikely to be deployed at scale.   If you want standards to be relevant, you must not specify such behaviors.  If a strict implementation of a standard does not work well, then the standard will be doomed to be only partially implemented.

RFC 5681 was clear:  ssthresh MUST be set to no more than the value given in equation (4):
      ssthresh = max (FlightSize / 2, 2*SMSS)

RFC 2581 is obsolete. RFC7661 provides some rationale and some limits to how a flow might use cwnd here. 

Since this is proposed as PS, the present text in this ID certainly appears to make a substantive change to the RFC series, and I think it does not yet provide a justification and analysis of how that would compete with RFC 5691 traffic. If the text remains in this form, I do think this needs to be discussed in a TCPM meeting.

Would a way forward be to use @gorryfair's phrasing but add a comment that Linux (and other stacks? which?) update based on cwnd?