Review RFC 7661 for multiplicative decrease section

I spotted only after re-reading the text later and already commented on the wg mailing list:

"the mechanisms described in [RFC7661] can be used to mitigate this
issue as it would allow using a value between _cwnd_ and
_flight_size_ to calculate the new _ssthresh_ in Figure 5."

AFAIK "using a value between _cwnd_ and _flight_size_ to calculate the new _ssthresh_" does not correctly capture the algo in RFC 7661. In the non-validated RFC 7661 uses

(Max(pipeACK,LossFlightSize))/2

and adjusts it with R (=retransmitted data) in the end of recovery phase.
And, in the validated phase RFC 7661 uses FlightSize/2.

It would be good to have Gorry to review this piece of text as the text seems to have been modified from what Gorry originally wrote.

Sorry - I actually a week's vacation and didn't get to this promptly. I agree with video, the current text looks slightly off to me.
First: I think it is important that this ID does not change RFC7661. (Unless there is specific data to show how this performs, etc...)
Second: It really would be better to separate the sentences concerning RFC7661, and the sentences describing cubic.
I'll suggest something below to see if we can agree on a PR to make this cleaner.

So, I think I need someone to also check this, but here is a suggestion, before we make a PR:

OLD:
In Figure 5, flight_size is the amount of outstanding data in the network, as defined in [RFC5681]. Note that a rate-limited application with idle periods or periods when unable to send at the full rate permitted by cwnd may easily encounter notable variations in the volume of data sent from one RTT to another, resulting in flight_size that is significantly less than cwnd on a congestion event. This may decrease cwnd to a much lower value than necessary. To avoid suboptimal performance with such applications, the mechanisms described in [RFC7661] can be used to mitigate this issue as it would allow using a value between cwnd and flight_size to calculate the new ssthresh in Figure 5. The congestion window growth mechanism defined in [RFC7661] is safe to use even when cwnd is greater than the receive window as it validates cwnd based on the amount of data acknowledged by the network in an RTT which implicitly accounts for the allowed receive window. Some implementations of CUBIC currently use cwnd instead of flight_size when calculating a new ssthresh using Figure 5. The implementations that use cwnd MUST use other measures to not allow cwnd to grow when bytes in flight is smaller than cwnd. That also effectively avoids cwnd from growing beyond the receive window. Such measures are important to prevent a CUBIC sender from using an arbitrarily high cwnd value in calculating the new value for ssthresh and cwnd when a congestion event is signaled, but it is not as robust as the mechanisms described in [RFC7661]. Likewise, a QUIC sender that uses cwnd to calculate a new value for the congestion window and slow-start threshold on a congestion event is required to apply similar mechanisms [RFC9002].

NEW:
In Figure 5, flight_size is the amount of outstanding (unacknowledged) data in the network, as defined in [RFC5681]. Note that a rate-limited application with idle periods or periods when unable to send at the full rate permitted by cwnd could easily encounter notable variations in the volume of data sent from one RTT to another, resulting in flight_size that is significantly less than cwnd when there is a congestion event. The congestion response would therefore decrease cwnd to a much lower value than necessary.  To avoid such suboptimal performance, the mechanisms described in [RFC7661] can be used. These describe how to calculate a new cwnd  for sending and after congestion, a new ssthresh with a value between the cwnd and flight_size. The mechanism defined in [RFC7661] is safe to use even when cwnd is greater than the receive window, because it validates the cwnd based on the amount of data acknowledged by the network in an RTT, which implicitly accounts for the allowed receive window. 

Some implementations of CUBIC currently use cwnd instead of flight_size when calculating a new ssthresh shown Figure 5. The implementations that use cwnd MUST use other measures to prevent cwnd from growing when the volume of bytes in flight is smaller than cwnd. This also effectively avoids cwnd from growing beyond the receive window. Such measures are important to prevent a CUBIC sender from using an arbitrarily high cwnd value when calculating a new value for ssthresh and cwnd when congestion is detected. This might not be as robust as the mechanisms described in [RFC7661]. 

A QUIC sender that uses cwnd to calculate a new value for the cwnd and ssthresh after detecting a congestion event is required to apply similar mechanisms [RFC9002].

Thanks, Gorry! This looks good to me. 

See #155 for a PR based on @gorryfair's text. Please review.

Thanks Gorry for the new text. 

It's better now but I think the text could emphasise that calculating a new ssthresh using a value between the cwnd and flight_size (actually between flight-size and cwnd) occurs only with a non-validated cwnd, not always. 

Maybe something like:

Old:
These describe how to calculate a new cwnd for sending and after congestion, a new ssthresh with a value between the cwnd and flight_size.

New:
These describe how to calculate inbbb such a rate-limited case a new cwnd for sending and after congestion, a new ssthresh with a value between the fligth_size and cwnd .

In addition, I think it would be important to note the application-limited behaviour also in Section 4.3 for the Reno-friendly region similar to what the draft already does for calculating  W_cubic(_t_) in Section 4.2 when a flow is application-limited as well as in Section 5.8 (the draft only gives the requirement for a application-limited flow when calculating W_cubic(_t_) but not when calculating _W_est).


