Lower bound for congestion window for drops or classic ECN

Markku Kojo said,

The draft modifies RFC 3168 when ECE arrives and would result
  in cwnd < 2 MSS by setting a lower bound of 2 MSS for cwnd (only
  ssthresh is supposed to have a lower bound of 2 MSS).
  This is in conflict with RFC 3168, RFC 5033, and RFC 2914 which
  require "full backoff", that is, a sender must continue decreasing
  sending rate as long as congestion persists. This is a fundamental
  property for any congestion control mechanism. For ECN, RFC 3168
  (sec 6.1.2) requires that cwnd is halved until the minimum cwnd
  of one MSS is received, and then the sender continues reducing
  sending rate by using a timer with exponential backoff, if more
  ECE-echo packets keep on arriving.

  This implementation bug has been long with Linux and is present
  in other stacks as well and should get corrected ASAP with
  appropriate advise in all published RFCs, instead of replicating
  the bug in the RFC series.